.md-title Horarios
md-divider


div(
  ng-if='!$ctrl.teacher.availabilityPeriods.length'
  layout-padding
)
  .md-subhead(
    layout='column'
    layout-align='center center'
  )
    | No especificaste ningún horario todavía
    br
    md-button.md-raised(ng-click='$ctrl.addAvailabilityPeriod()') Agregá tu primer horario

ctz-spacer-xs

div(layout='column')
  div(ng-if='$ctrl.teacher.availabilityPeriods.length')
    div(
      ng-repeat='ap in $ctrl.teacher.availabilityPeriods'
      ng-if='!ap._destroy'
    )
      div(
        layout='row'
        layout-align='strech end'
      )
        md-input-container(flex)
          label Día
          md-select(
            ng-model='ap.weekDay'
            ng-change='$ctrl.setSfsow(ap)'
            required
          )
            md-option(
              ng-repeat='(i, wd) in $ctrl.weekDays'
              ng-value='i'
              ng-bind='wd'
            )

        md-input-container(flex=25)
          label Desde
          input.md-input(
            ng-model='ap.startsAt'
            mdc-datetime-picker date="false" time="true" format="HH:mm"
            ng-change='$ctrl.setSfsow(ap)'
            required
          )

        md-input-container(flex=25)
          label Hasta
          input.md-input(
            ng-model='ap.endsAt'
            mdc-datetime-picker date="false" time="true" format="HH:mm"
            min-date="ap.startsAt"
            ng-change='$ctrl.setSfsow(ap)'
            required
          )

        md-button.md-icon-button(ng-click='$ctrl.markForDestruction(ap)')
          md-icon(md-svg-src='/images/icons/delete.svg')

      ctz-spacer-xs

  md-button.no-margin(
    ng-click='$ctrl.addAvailabilityPeriod()'
    ng-if='$ctrl.teacher.availabilityPeriods.length'
  )
    md-icon(md-svg-src='/images/icons/add.svg')
