.md-title Datos Generales
md-divider

div(layout='row')
  div(layout='column')
    md-input-container
      label Nombre
      input(ng-model='$ctrl.teacher.firstName')

    md-input-container
      label Apellido
      input(ng-model='$ctrl.teacher.lastName')

  div(layout='column')
    md-input-container
      label Teléfono
      input(
        ng-model='$ctrl.teacher.phoneNumber'
        type='string'
      )

    md-input-container
      label Precio por hora
      input(
        ng-model='$ctrl.teacher.hourlyPrice'
        type='number'
        min='1'
      )
