.md-title Dirección

md-divider

div(layout='column')
  md-input-container
    label Ciudad
    input(ng-model='$ctrl.teacher.location.city')

  md-input-container
    label Barrio
    md-select(ng-model='$ctrl.teacher.location.neighborhood')
      md-option(
        ng-repeat='n in $ctrl.neighborhoods'
        ng-value='n'
        ng-bind='n'
      )

  md-input-container
    label Calle
    input(ng-model='$ctrl.teacher.location.street')

  div(layout='row')
    md-input-container
      label Número
      input(ng-model='$ctrl.teacher.location.streetNumber')

    md-input-container
      label Detalles
      input(
        ng-model='$ctrl.teacher.location.notes'
        placeholder='1º D'
    )
