.md-title Cuenta de MercadoLibre

md-divider

ctz-spacer-xs

div(layout='column')
  md-button(
    ng-click="$ctrl.MercadoPago.link($ctrl.teacher)"
    ng-if="!$ctrl.teacher.linkedMercadoPagoAccount"
  ) Vincular

  md-button(
    ng-click="$ctrl.MercadoPago.link($ctrl.teacher)"
    ng-if="$ctrl.teacher.linkedMercadoPagoAccount"
  ) Cambiar

  md-button(
    ng-click="$ctrl.MercadoPago.unlink($ctrl.teacher)"
    ng-if="$ctrl.teacher.linkedMercadoPagoAccount"
  ) Desvincular
