.md-no-empty-errors-spacer(layout='column')
  md-nav-bar.md-accent.md-whiteframe-z1(
    md-selected-nav-item="'online'"
    md-border-bottom
  )
    md-nav-item(
      md-nav-click='$ctrl.lala = false'
      name="online"
    ) 
      | Online
    md-nav-item(
      md-nav-click='$ctrl.lala = true'
      name="presential"
    ) 
      | Presencia

  md-content.md-no-empty-errors-spacer(
    flex
    layout='column'
    layout-padding
  )
    md-input-container
      label Materias
      ctz-subject-select(ng-model='$ctrl.filters.taughtSubjectIds')
      
    md-input-container(ng-hide='!$ctrl.lala')
      input#searchInput(ng-model='$ctrl.filters.address' type='text')  

    div(layout='row' layout-wrap)
      md-input-container(flex=75)
        label Fecha
        input(
          mdc-datetime-picker
          date="true"
          time="true"
          show-todays-date
          ng-model="$ctrl.filters.availableAt.date"
        )

      md-input-container(flex=25)
        label Horas
        input(
          type='number' min=0 max=10
          ng-model='$ctrl.filters.availableAt.duration'
          ng-disabled='!$ctrl.filters.availableAt.date'
          ng-required='$ctrl.filters.availableAt.date'
        )
