.md-no-empty-errors-spacer(layout='column')
  md-tabs.md-whiteframe-z1(md-border-bottom)
    md-tab(md-on-select='$ctrl.filters.classType = "online"') Online
    md-tab(md-on-select='$ctrl.filters.classType = "presential"') Presencial

  md-content.md-no-empty-errors-spacer(
    flex
    layout='column'
    layout-padding
  )
    md-input-container(ng-if='$ctrl.filters.classType === "presential"')
      label Barrios
      md-select(
        ng-model='$ctrl.filters.neighborhoods'
        multiple
      )
        md-option(
          ng-repeat='n in $ctrl.neighborhoods'
          ng-value='n'
          ng-bind='n'
        )

    md-input-container
      label Materias
      ctz-subject-select(ng-model='$ctrl.filters.taughtSubjects')

    div(layout='row' layout-wrap)
      md-input-container(flex=100 flex-gt-xs=75)
        label Fecha
        input(
          mdc-datetime-picker
          date="true"
          time="true"
          show-todays-date
          ng-model="$ctrl.filters.date"
        )

      md-input-container(flex=100 flex-gt-xs=25)
        label Horas
        input(
          ng-model='$ctrl.filters.hours'
          type='number' min=0 max=4
          ng-disabled='!$ctrl.filters.date'
        )


    div(layout='column' ng-if='$ctrl.filters.classType == "presential"')
      md-checkbox(ng-model='$ctrl.filters.teachesAtStudentsPlace') En mi casa
      md-checkbox(ng-model='$ctrl.filters.teachesAtOwnPlace') En el domicilio del profesor
      md-checkbox(ng-model='$ctrl.filters.teachesAtPublicPlace') En un lugar publico a acordar
