div(
  block='ctz-sign-in-form'
  layout-fill
  layout='column'
  layout-align='center center'
)
  md-card.md-no-empty-errors-spacer
    md-toolbar: .md-toolbar-tools
      | Ingresá como 
      span.margin-left-5(ng-if='$ctrl.userType === "student"') estudiante
      span.margin-left-5(ng-if='$ctrl.userType === "teacher"') profesor

    md-button.md-button--facebook(
      ng-if='$ctrl.userType === "student"'
      ng-click='$ctrl.loginWithFacebook()'
      ng-disabled='$ctrl.locked'
    )
      md-icon(md-svg-src='/images/icons/facebook_logo.svg')
      |  Ingresar con Facebook

    md-divider(ng-if='$ctrl.userType === "student"')

    form(ng-submit='$ctrl.loginWithCredentials()' layout='column')
      div(layout='column' layout-padding)
        md-input-container
          label Email
          input(type='email' ng-model='$ctrl.credentials.email')

        md-input-container
          label Contraseña
          input(type='password' ng-model='$ctrl.credentials.password')

      md-button.md-raised.md-primary(
        type='submit'
        ng-disabled='$ctrl.locked'
      ) Ingresar

    md-divider

    div(layout='column' layout-align='center center' layout-padding)
      a(
        ui-sref='app.students.signUp'
        ng-if='$ctrl.userType === "student"'
      )
        | ¿No tenés cuenta? Registrate acá

      a(ui-sref='app.students.resetPassword')
        | ¿Olvidaste tu contraseña? Reseteale acá
