md-card
  md-card-header
    md-card-avatar
      img.md-user-avatar(ng-src='{{$ctrl.displayedUser.avatar }}')
    md-card-header-text
      .md-title(ng-bind='$ctrl.displayedUser.name')
      .md-subhead(ng-bind='$ctrl.displayedUser.shortDesc')

  md-card-content(layout='column')
    table
      tr
        td Estado
        td(ng-bind="$ctrl.statuses[$ctrl.appointment.status]")

      tr
        td Tipo
        td(ng-bind="$ctrl.kinds[$ctrl.appointment.kind]")

      tr(ng-if='$ctrl.appointment.kind === "at_public_place"')
        td Lugar
        td(ng-bind="$ctrl.appointment.placeDesc")

      tr
        td Empieza
        td(ng-bind="$ctrl.appointment.startTime")

      tr
        td Termina
        td(ng-bind="$ctrl.appointment.endTime")

      tr
        td Duración
        td {{$ctrl.appointment.duration }} horas

      tr
        td Materias
        td
          span(ng-repeat="ss in $ctrl.appointment.studySubjects")
            | {{ ss.level }} - {{ ss.name }}
            span(ng-if='!$last') ,

      tr
        td Tema
        td(ng-bind="$ctrl.appointment.desc")

      tr
        td Archivos
        td(ng-repeat="attachment in $ctrl.appointment.attachmentsList")
          a(href="{{ attachment }}" target="_blank") Descargar

  md-card-actions(
    layout='row'
    layout-align='end end'
    ng-if='$ctrl.appointment.availableStatusTransitions.length'
  )
    md-button(
      ng-click='$ctrl.cancel()'
      ng-disabled='!$ctrl.appointment.isTransitionAvailable("cancel")'
    ) Cancelar

    md-button.md-raised.md-primary(
      ng-click='$ctrl.confirm()'
      ng-disabled='!$ctrl.appointment.isTransitionAvailable("confirm")'
      ng-if='$ctrl.userType === "teacher"'
    ) Confirmar

    md-button.md-primary.md-raised(
      ui-sref='app.s.appointments.virtualClassroom({id: $ctrl.appointment.id})'
      ng-if='\
        $ctrl.appointment.status === "live" || \
        $ctrl.appointment.status === "demo" \
      '
    ) Ir al aula virtual
