div.full-height-gt-xs(
  block='ctz-sign-in-form-wrapper'
  layout-xs='column'
  layout-gt-xs='row'
)
  div(
    elem='teacher-form-wrapper'
    flex-gt-xs=50
    layout='column'
    layout-align='center center'
  )
    ctz-sign-in-form(user-type='student')

  md-divider

  div(
    elem='student-form-wrapper'
    flex-gt-xs=50
    layout='column'
    layout-align='center center'
  )
    ctz-sign-in-form(user-type='teacher')
