form.md-no-empty-errors-spacer(
  block='ctz-teacher-profile-editor'
  layout-fill
  layout='column'
  ng-submit='$ctrl.save()'
)
  md-toolbar.md-hue-1.md-whiteframe-z1
    .md-toolbar-tools(layout='row')
      | Editando perfil
      span(flex)
      md-button.md-raised.md-raised(type='submit') Actualizar

  md-content
    div(
      layout='row'
      layout-align='center center'
    )
      div(flex=100 flex-md=60 flex-lg=50 flex-xl=30 layout='column')
        div(
          flex=100
          layout-padding
          layout='row'
          layout-wrap
        )
          div(flex=100 flex-gt-xs=33)
            ctz-avatar-input(ng-model='$ctrl.teacher.avatar')
          div(flex=100 flex-gt-xs=33 ng-include=':: $ctrl.partialPath("general")')
          div(flex=100 flex-gt-xs=33 ng-include=':: $ctrl.partialPath("location")')

        div(flex=100 layout-padding)
          div(ng-include=':: $ctrl.partialPath("descriptions")')

        div(
          flex=100 
          layout-padding
          layout='row'
          layout-wrap
        )
          div(flex=100 flex-gt-xs=50 ng-include=':: $ctrl.partialPath("class_modes")')
          div(flex=100 flex-gt-xs=50 ng-include=':: $ctrl.partialPath("mercado_pago")')


        div(
          flex=100
          layout-padding
          layout='row'
          layout-wrap
        )
          div(flex=100 flex-gt-xs=50 ng-include=':: $ctrl.partialPath("taught_subjects")')
          div(flex=100 flex-gt-xs=50 ng-include=':: $ctrl.partialPath("availability_periods")')
