md-select(
  ng-model='$ctrl.model'
  multiple=':: $ctrl.multiple'
  md-on-open='$ctrl.onOpen()'
  md-on-close='$ctrl.clearSearch()'
  block='ctz-subject-select'
  md-container-class='ctz-subject-select-container {{:: $ctrl.containerClass }}'
  ng-required='$ctrl.required'
  ng-change="$ctrl.closeSelect()"
)
  md-select-header
    input(
      ng-model="$ctrl.searchTerm"
      class="demo-header-searchbox md-text"
      placeholder='{{:: $ctrl.searchPlaceholder }}'
    )

  md-optgroup(
    ng-repeat='(level, studySubjects) in $ctrl.studySubjects'
    label='{{:: level === null ? "Otros" : level }}'
  )
    md-option(
      ng-repeat='ss in studySubjects | fuzzy: $ctrl.searchTerm'
      ng-value='ss.id'
      ng-bind='ss.name'
    )
