.md-whiteframe-z1(
  block='ctz-period-picker'
  layout-fill
  layout='column'
)
  div(
    layout='row'
    layout-align='space-between center'
    layout-margin
  )
    md-button(ng-click='$ctrl.prevWeek()') Prev
    h1 Week Number: {{ $ctrl.currentWeekStart.week() }}
    md-button(ng-click='$ctrl.nextWeek()') Next

  md-divider

  div(flex layout='row')
    div(
      elem='week-day'
      flex
      ng-repeat-start='data in $ctrl.weekDayData track by $index'
      layout='column'
      layout-align='start stretch'
    )
      .md-title(
        elem='week-day-header'
        layout-padding
        layout='row'
        layout-align='center center'
      ) {{ data.name }} ({{ data.wday }})

      md-divider

      div(
        elem='week-day-body'
        flex
      )
        .md-whiteframe-z2(
          ng-mousemove='$ctrl.setSelectedSegment(data.wday, $event)'
          ng-mouseleave='$ctrl.unsetSelectedSegment()'
          ng-click='$ctrl.confirmSelection()'
          elem='segment'
          ng-repeat='s in data.availableSegments track by $index'
          ng-style='{\
            top: s.startY + "%", \
            height: s.height + "%" \
          }'
        )

        .md-whiteframe-z3(
          elem='segment' mod-once='selected'
          ng-if='$ctrl.selectedSegment.wday === data.wday'
          ng-style='{\
            top: $ctrl.selectedSegment.startY + "%", \
            height: $ctrl.selectedSegment.height + "%" \
          }'
        )
          | Elejir Horario

        .md-whiteframe-z3(
          elem='segment' mod-once='confirmed'
          ng-if='$ctrl.confirmedSegment.wday === data.wday'
          ng-style='{\
            top: $ctrl.confirmedSegment.startY + "%", \
            height: $ctrl.confirmedSegment.height + "%" \
          }'
        )
          | Elejir Horario

    md-divider(ng-repeat-end ng-if='!$last')
