div(
  block='ctz-period-picker'
  layout-fill
  layout='column'
)
  h3
    Selected period

    div
      strong Week Day: 
      span(ng-bind='$ctrl.translatedWdays[$ctrl.selectedPeriod.wday]')

    div
      strong Start SFSOD: 
      span(ng-bind='$ctrl.selectedPeriod.startY')

    div
      strong Height: 
      span(ng-bind='$ctrl.selectedPeriod.height')

  h3 Periods

  div(layout='row' layout-padding)
    div(ng-repeat='p in $ctrl.periods')
      div
        strong Desc: 
        span(ng-bind=':: p.desc')

      div
        strong Start SFSOW: 
        span(ng-bind=':: p.startSfsow | number')

      div
        strong Height:
        span(ng-bind=':: p.height | number')

      md-divider(ng-if='$middle')

  div(layout='row' layout-align='center center' layout-margin)
    md-button.md-raised(ng-click='$ctrl.decreaseWeek()') Prev
    h1 Week Number: {{ $ctrl.week }}
    md-button.md-raised(ng-click='$ctrl.increaseWeek()') Next

  div(flex layout='row')
    div(
      elem='wday'
      flex
      ng-repeat='data in $ctrl.wdayData track by $index'
      layout='column'
      layout-align='start stretch'
    )
      div(elem='wday-header')
        span {{:: wdayName }} ({{:: $index }})

        md-divider

        div
          strong Date: 
          span {{ data.day.toString() }}

        md-divider

        div
          strong SFSOW: 
          span {{ $ctrl.wdayStartSfsow($index) | number }}

        md-divider

        div
          strong SEGMENTS COUNT: 
          span {{ data.segments.length }}

      div(
        flex elem='wday-body'
        ng-mouseover='$ctrl.setSelectedPeriod($index, $event)'
        ng-mouseleave='$ctrl.unsetSelectedPeriod()'
      )
        div(
          elem='step'
          ng-repeat='_ in ::$ctrl.steps track by $index'
          ng-style='{height: $ctrl.stepHeight + "%"}'
        )

        div(
          elem='segment' mod-once='selected'
          ng-if='$ctrl.selectedPeriod.wday === $index'
          ng-style='{\
            top: $ctrl.selectedPeriod.startY + "%", \
            height: $ctrl.selectedPeriod.height + "%" \
          }'
        )
          | Elejir Horario

        div(
          elem='segment'
          ng-repeat='s in data.segments track by $index'
          mod-once='blacklisted: s.type === "blacklisted"'
          ng-style='{\
            top: s.startY + "%", \
            height: s.height + "%" \
          }'
        )
          div(ng-repeat='(k, v) in s track by $index')
            strong {{:: k}}: 
            span(ng-bind=':: v')

      div
        strong SFSOW: 
        span {{:: $ctrl.wdayEndSfsow($index) | number }}
