div(
  block='ctz-period-picker'
  layout-fill
  layout='column'
)
  h3
    Seconds per day: 
    span(ng-bind='$ctrl.SECONDS_PER_DAY')

  h3 Periods

  div(layout='row' layout-padding)
    div(ng-repeat='p in $ctrl.periods')
      div
        strong Desc: 
        span(ng-bind=':: p.desc')

      div
        strong Start SFSOW: 
        span(ng-bind=':: p.startSfsow | number')

      div
        strong End SFSOW: 
        span(ng-bind=':: p.endSfsow | number')

      md-divider(ng-if='$middle')

  div(flex layout='row')
    div(
      elem='wday'
      flex
      ng-repeat='wdayName in $ctrl.translatedWdays track by $index'
      layout='column'
      layout-align='start stretch'
      ng-init="segments = $ctrl.segmentsIntercepting($index)"
    )
      div(elem='wday-header')
        span {{:: wdayName }} ({{:: $index }})

        md-divider

        div
          strong SFSOW: 
          span {{:: $ctrl.wdayStartSfsow($index) | number }}

        md-divider

        div
          strong SEGMENTS COUNT: 
          span {{:: segments.length }}

      div(flex elem='wday-body')
        div(
          elem='segment'
          ng-repeat='s in segments track by $index'
          ng-style='{\
            width: "100%", \
            top: s.y1 + "%", \
            height: s.height + "%" \
          } '
        )
          div(ng-repeat='(k, v) in s track by $index')
            strong {{:: k}}: 
            span(ng-bind=':: v')

      div
        strong SFSOW: 
        span {{:: $ctrl.wdayEndSfsow($index) | number }}
