md-select(
  ng-model='$ctrl.model'
  multiple=':: $ctrl.multiple'
  md-on-open='$ctrl.onOpen()'
  md-on-close='$ctrl.clearSearch()'
  block='ctz-select'
  md-container-class='ctz-select-container {{:: $ctrl.containerClass }}'
)
  md-select-header
    input(
      ng-model="$ctrl.searchTerm"
      class="demo-header-searchbox md-text"
      placeholder='{{:: $ctrl.searchPlaceholder }}'
    )

  div(ng-transclude)
