form.md-no-empty-errors-spacer(
  block='ctz-teacher-profile-addresses'
  layout-fill
  layout='column'
  layout-align='center center'
  ng-submit='$ctrl.save()'
)
  md-toolbar.md-hue-1.md-whiteframe-z1
    .md-toolbar-tools(layout='row')
      h2(ng-bind='$ctrl.$stateParams.id ? "Editando dirección" : "Creando dirección"')
      span(flex)
      md-button.md-primary.md-raised(
        type='submit'
        ng-disabled='$ctrl.locked'
        ng-bind='$ctrl.$stateParams.id ? "Actualizar" : "Crear"'
      )
  
  md-card.md-whiteframe-z1(flex layout='column')
    div(layout-padding)
      div(layout='column')
        md-input-container
          label Nombre
          input(ng-model='$ctrl.location.name' type='text')  
        md-input-container
          input#searchInput(ng-model='$ctrl.location.address' type='text')  
        md-input-container
          label Radio
          input(ng-model='$ctrl.location.radius' type='number')  
        
