section(
  block='yv-teacher-list'
  layout-fill
  layout='row'
)
  md-sidenav.md-sidenav-left.md-whiteframe-z1(
    md-is-locked-open='::true'
    layout='column'
  )
    ctz-teacher-list-filters(ng-model='$ctrl.filters' flex)
    md-button.md-raised(ng-click='$ctrl.clearFilters()') Limpiar
    md-button.md-raised.md-primary(ng-click='$ctrl.search()') Buscar

  md-content(
    flex
    layout='row'
    layout-wrap
  )
    ctz-teacher-card(
      flex=100
      flex-sm=50
      flex-gt-sm=25
      ng-repeat='t in $ctrl.teachers'
      teacher=':: t'
    )
