div(
  block='ctz-virtual-classroom'
  layout-fill
)
  div(
    ng-if='!$ctrl.roomJoined'
    layout-fill
    layout='column'
    layout-align='center center'
  )
    .md-body-1 ¿Estás listo para unirte a la clase?

    md-button.md-primary.md-raised(
      ng-click='$ctrl.joinRoom()'
      ng-disabled='!$ctrl.roomCreated'
    ) Unirse a la clase

  div(
    ng-if='$ctrl.roomJoined'
    layout-fill
    layout='row'
    style='background-color: tomato'
  )
      .whiteboard-wrapper(flex=75 style='background-color: aliceblue')
        ul: li(ng-repeat='line in $ctrl.log' ng-bind=':: line')

      .comms-wrapper(
        flex=25
        layout='column'
      )
        ctz-video-holder(stream='$ctrl.remoteStream')

        div(flex style='background-color: blue')
          | Look mah! Imma chat!
