.position-relative(
  block='ctz-virtual-classroom'
  layout-fill
  ngsf-fullscreen=""
)
  div(
    ng-if='!$ctrl.roomJoined'
    layout-fill
    layout='column'
    layout-align='center center'
  )
    md-progress-circular

  div(
    ng-if='$ctrl.roomJoined'
    layout-fill
    layout='row'
  )
    div(flex layout='column')
      md-toolbar.md-hue-1.md-whiteframe-z1: .md-toolbar-tools
        md-button.md-raised.md-icon-button(
          ng-if='::!$ctrl.whiteboardCtrl.readonly'
          ng-click='$ctrl.whiteboardCtrl.setTool("pencil")'
          ng-class='$ctrl.whiteboardCtrl.currentTool === "pencil" && "md-accent"'
        )
          md-icon(md-svg-src='/images/icons/pencil.svg')
          md-tooltip(md-direction='bottom') Lápiz

        md-button.md-raised.md-icon-button(
          ng-if='::!$ctrl.whiteboardCtrl.readonly'
          ng-click='$ctrl.whiteboardCtrl.setTool("eraser")'
          ng-class='$ctrl.whiteboardCtrl.currentTool === "eraser" && "md-accent"'
        )
          md-icon(md-svg-src='/images/icons/eraser.svg')
          md-tooltip(md-direction='bottom') Goma

        md-button.md-raised(
          ng-if='::!$ctrl.whiteboardCtrl.readonly'
          ng-click='$ctrl.whiteboardCtrl.clear()'
        ) Borrar todo

        span(flex)

        md-button.md-icon-button(ngsf-toggle-fullscreen='')
          md-icon(show-if-fullscreen="false" md-svg-src='/images/icons/enter_fullscreen.svg')
          md-icon(show-if-fullscreen="true" md-svg-src='/images/icons/exit_fullscreen.svg')
          md-tooltip Entrar en modo fullscreen

        md-button.md-icon-button(
          ng-click='$ctrl.toggleSidenav()'
          ng-class='$ctrl.unreadMessages && "md-accent md-raised"'
        )
          md-icon(md-svg-src='/images/icons/video_chat.svg')
          md-tooltip(md-direction='bottom')
            span(ng-if='$ctrl.isSidenavOpen') Ocultar videochat
            span(ng-if='!$ctrl.isSidenavOpen')
              | Mostrar videochat
              span(ng-if='$ctrl.unreadMessages') &nbsp;(Mensajes sin leer)

      ctz-whiteboard(
        flex
        readonly=':: $ctrl.whiteboardReadonly'
        on-signal=':: $ctrl.transmitWhiteboardSignal($functionName, $args)'
        expose-controller-on='$ctrl.whiteboardCtrl'
      )

    md-sidenav.md-sidenav-right.md-whiteframe-z1(
      md-is-locked-open='$ctrl.isSidenavOpen'
      flex=25
      layout='column'
    )
      ctz-video-holder(stream='$ctrl.remoteStream')

      md-divider

      .md-no-empty-errors-spacer(flex layout='column')
        md-content(flex)
          div(layout='column')
            md-card(ng-repeat='m in $ctrl.chat.messages track by $index')
              md-card-content(ng-bind=':: m')

        md-divider

        form(
          layout='row'
          ng-submit='$ctrl.submitChatMessage()'
        )
          md-input-container.no-margin(
            flex
            md-no-float='true'
          )
            input(
              placeholder='Escribí un mensage'
              ng-model='$ctrl.chatMessage'
            )
          md-button.md-icon-button(type='submit')
            md-icon(md-svg-src='/images/icons/send.svg')

