div(block='ctz-stars-input' layout-align="center center" layout="row")
  md-icon.drop-shadow-icon(
    ng-attr-md-svg-src='/images/icons/star_full.svg'
  )
  md-icon.drop-shadow-icon(
    ng-attr-md-svg-src='/images/icons/star_full.svg'
  )
  md-icon.drop-shadow-icon(
    ng-attr-md-svg-src='/images/icons/star_full.svg'
  )
  md-icon.drop-shadow-icon(
    ng-attr-md-svg-src='/images/icons/star_full.svg'
  )
  md-icon.drop-shadow-icon(
    ng-attr-md-svg-src='/images/icons/star_full.svg'
  )
